@{
    ViewBag.Title = "Home Page";
}
<style>
    input[type=text], textarea {
        width: 300px;
    }

    label {
        width: 150px;
        display: inline-block;
    }
    .searchResults h3 {
        font-size: 15px;
    }

    .makeRed a {
        color: red;
    }
</style>

<div style="margin-top: 20px;">
    <p><label>Enter Url:</label> <input type="text" data-bind="value: url" /></p>
    <p><label>Enter Key words:</label> <input type="text" data-bind="value: keywords" /></p>
    <p><label>&nbsp;</label><button id="submitBtn" data-bind="click: makeAjaxCall">Search</button></p>
</div>
<div>
    <label>Results: </label>
    <strong data-bind="text: results"></strong>
</div>
<div style="margin-top:20px;" class="searchResults" data-bind="html: all">
</div>
<script type="text/javascript">
    
    ko.validation.rules.pattern.message = 'Invalid.';
    var AppViewModel = function(){
        this.url = ko.observable("www.youtube.com").extend({required: true});
        this.keywords = ko.observable("Online Title Search").extend({required: true});
        this.results = ko.observable("");
        this.all = ko.observable("");
        this.makeAjaxCall = function () {
            if (this.errors().length > 0) {
                alert('Please check your submission.');
                this.errors().showAllMessages();
                return;
            }
            var self = this;
            $.ajax('@Url.Action("GetIndexes")', {
                data: { url: self.url, keywords: self.keywords },
                beforeSend: function() {
                    $("#submitBtn").prop('disabled', true).text("Searching...");
                },
                complete: function() { $("#submitBtn").prop("disabled", false).text("Search"); },
                success: function (data) {
                    if(data.results){
                        self.results(data.results);
                    }
                    else {
                        self.results("No matching URL.");
                    }
                    self.all("<div class='header'>Top 100 Google search results for keywords.</div>" + data.all);
                },
                type: 'post',
            });
        };
        this.errors = ko.validation.group(this);
        
    };

    ko.applyBindings(new AppViewModel());
    
    $(".searchResults").on("click", "a", function (e) {
        e.preventDefault();
    });

</script>